@page "{num?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Between
{
    <p class="container alert alert-primary">
        *これはヘッダーとコンテンツの間に表示されます
    </p>
}

<div>
    <p class="h1">Welcome</p>
    <p class="h4">入力してください</p>
</div>
